//colors
$primary-color:		#35536B;
$secondary-color:	#77B39B;
$text-color:		#001D26;
$light-color:		#F6E27F;
$accent-color:		#ECEAF2;

//font
$font-size: 1.03em;
$font-size-small: $font-size - .25;
$font-size-header: $font-size + 1;

#projectview{
	#navigation{
		height: 155px;
		border-top: 45px solid white;
		border-bottom: 2px solid $primary-color;
		text-align: center;
		*{
			display: inline;
		}
		.logo{
			float: left;
			img{
				height: 110px;
				width: 120px;
			}
		}
		#title{
			width: 80%;
			line-height: 110px;
			text-align: center;
			font-size: $font-size-header + 1;
		}
		#profile{
			height: 60px;
			float: right;
			padding-top: 25px;
			p{
				text-align: left;
			}
			.image{
				img{
					width: 68px;
					border-radius: 50%;
				}
			}
		}
	}
	#projects{
		margin-top: 3em;
		margin-bottom: 3em;

		.category{
			margin-top: 3em;
		}

		.twelve {
			p{
				border-bottom: 1px solid black;
			}
		}

		.six {
			height: 10em;
			width: 10em;
			border: 1px solid black;
			text-align: center;
			text-decoration: none;
			p{
				margin-top: 50%;
				transform: translateY(-58%);	
			}
		}
	}
}